body {
  background: linear-gradient(to bottom, #8f8b8b, rgb(50, 44, 44));
  width: 100%;
  height: 100vh;
}
.targetContent {
  text-align: center;
}
.target {
  font-size: 25px;
  margin: 10px;
}
.title {
  text-align: center;
}
.formSerch {
  text-align: center;
  padding-bottom: 30px;
}
.inputText {
  border: none;
}
.button {
  border: none;
  margin-left: 20px;
}
